

header{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;

  }


  header>.lenke{
    align-self: center;
  }

  header>section>a{
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

  }
  header>section>a:hover{
    background-color: #929292;
}

body{
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    font-family: courier;
    }
.Merkesko{
width: 350px;
}



h1{
  text-align: center;
}




#fotball{
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  text-align: center;
}

#rooney{
  width: 100%;
  height: 837px;

}





.Hvaskjer{
  display: grid;
  grid-template-columns: 1fr  1fr;
  top: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  grid-gap: 5px;


}
main a{
  text-decoration: none;
}
.Merkesko{
  border-style: solid;

}
.logo{
  width: 120px;
}
.linje{
  display: block;
  width: 100%;
  text-align: center;
}



.Overskrift{
margin-top: 120px;
}
