body{
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    font-family: courier;
}
/* Menybar start */
header{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

header>.lenke{
    align-self: center;
}

header>section>a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

header>section>a:hover{
    background-color: #929292;
}

.dropdown{
  float: left;
  overflow: hidden;
  align-self: center;
}

.dropdown .dropbtn{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 24px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

header a:hover, .dropdown:hover .dropbtn {
  background-color: #929292;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 116px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99999;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Menybar slutt */

/* Alle overskrifter sentrert */
h1{
  text-align: center;
}

/* Alle tekster sentrert */
p{
  text-align: center;
}

main a{
  text-decoration: none;
}

.kjøpprodukter{
  display: grid;
  grid-template-columns: 1fr  1fr;
  top: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  grid-gap: 5px;
}

.storsko{
  border-style: solid;
  border-color: black;
}

.logo{
  width: 120px;
}

/* Linja i footeren */
.linje{
  display: block;
  width: 100%;
  text-align: center;
}

.Overskrift{
margin-top: 120px;
}

.Kjøp{
  margin-right: 200px;
}

/* En border på skoene og ballene */
.fotballskoboks{
  border-style: solid;
  border-color: black;
  margin: auto;
  background-color: white;
  margin-top: 50px;
}

/* En ID på gridden på de tre bildene på forsiden */
#fotball{
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
