body{
  font-family: helvetica;
  background-color: lightblue;
  margin:100px;
  margin-top: 30px;
  font-style: italic;
  font-weight: bold;
  font-family:fantasy, sans-serif;
  font-size: 22px;
  text-align: center;

}
div{
  background-color: white;
  padding-left: 10px;
  border-radius: 10px;

}
section{
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(8,1fr);
  grid-auto-rows: minmax(40px,auto);
}
.span-2{
  grid-column: span 6;

}

.usynlig{
  opacity: 0;
}
img{
width: 50px;
height: 50px;
}
.grønn{
  background-color: yellow;


}

div{
  background-color: blue;
}

.lilla{
  background-color: red;

}
div:hover{
  background-color: #6B6F76;
}

.
