
body{
  font-size: 20px;
}
img{
  width: 300px;
  border-width: 15px;
  border-style: solid;
  border-color: black;
  margin-right: 20px;
  margin-bottom: 20px;
  filter: drop-shadow(-100px- 50px 5px black);
}
